/* p
{ */
    /* background-color: yellow;
    width: 52px; */
    /* border-style: solid;
    border-color: blue;
    border-width: 5px; */
    /* border:2px solid blue ; */
    /* border-top: 2px solid blue;
    border-right: 2px dotted blue; */
    /* border-radius: 10px 20px 5px 8px; */
    /* border-radius: 10px; */
    /* border-radius: 10px 20px; */
    /* outline-style:solid ;
    outline-color: gray;
    outline-width: 2px; */

    /* outline:2px solid gray;
    outline-offset: 2px; */
    /* padding: 20px; */
    /* padding-left: 20px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 12px; */

    /* padding: 10px 5px 15px 40px; */
    /* padding: 10px 20px; */
    /* margin: 40px; */
    /* margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 100px; */
    /* margin: 40px 0px 20px 0px; */
    /* margin: 40px 100px; */
/* } */
/* input
{
    border:none;
    border-bottom: 2px solid blue;
    width: 100px;
    outline: none;
} */

/* p
{
    background-color: yellow;
    width: 52px;
    padding: 20px;
    border: 2px solid blue;
} */
/* 
h1
{
    background-color: yellow;
    width: 102px;
    padding: 20px;
   margin-top: 30px; 
    margin-top: -16px;
}  */

p
{
    background-color: yellow;
    width:100px;
    height: 100px;
    border: 2px solid blue;
    box-sizing: border-box;
    padding:20px ;
    box-shadow: 3px 3px 80px 20px lightgreen;
}